#root {
  width: 380px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  height: 95vh;
  border-radius: 10px;
  position: relative;
  overflow-y: hidden;
}

.btn{
  background-color: #FFD504 !important;
  color: black;
  border-radius: 10px !important;
  font-weight: 800 !important;
  font-size: 15px !important;
  text-transform: uppercase;
}


.btn-outline{
  background-color: #fff !important;
  border: 2.2px solid #FFD504 !important;
}

.buttons{
  overflow-x: scroll;
  gap: 10px;
}

.buttons::-webkit-scrollbar {
    display: none;
}

.sub{
  border: none;
  background: none;
  font-weight: 800;
  padding: 4px 0;
  margin: 0 12px;
  font-size: 15px;
}

.selected{
  border-bottom: 2.2px solid #FFD504;
}

.card-body{
  display: flex;
  align-items: center;
}

.card-text{
  text-align: start;
  width: 80%;
  h6{
    font-weight: 800;
    margin-bottom: 0px;
    font-size: 14px;
  }
  p{
    font-size: 13px !important;
    font-weight: 600 !important;
    color: gray !important;   
    margin-bottom: 0px;
  }
}

.price{
  font-weight: 800;
  font-size: 22px ;
}

.product-card{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(95vh - 20vh);  //20
}

.product-card::-webkit-scrollbar {
    display: none;
}

.card{
  margin-bottom: 12px;
  border: 2.2px solid #FFD504 !important;
}

.error{
  font-weight: 700;
  text-align: left;
  padding: 10px;
  border: 2.2px solid #FFD504 !important;
  border-radius: 10px;
}

.title{
  display: flex;
  justify-content: center;
  h1{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 3px;
  }
  p{
    color: gray;
    font-weight: 600;
    font-size: 12px;
  }
}

.modal{
  --bs-modal-width: 360px;
}

.language{
  position: absolute;
  right: 12px;
}

.lang-btn{
  border-radius: 10px;
  border: 2.2px solid #FFD504;
  background: none;
}

.modal-title{
  font-weight: 700;
  font-size: 24px;
}

.view-basket-bar{
  position: absolute;
  width: 380px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFD504;
  color: black;
  span{
    font-size: 20px;
    font-weight: 800;
  } 
}